[Unit]
Description=Check MyTools resource storage mount periodically

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=5s
Persistent=true
Unit=mytools-resource-remount.service

[Install]
WantedBy=timers.target
