RCLONE_RC_USER=replace-with-local-user
RCLONE_RC_PASSWORD=replace-with-strong-local-password
RCLONE_DRIVE_UPSTREAMS=pikpak=pikpak: alist=alist: jianguoyun=jianguoyun:
RCLONE_DRIVE_ACCOUNTS=pikpak=PikPak,alist=Alist,jianguoyun=Jianguoyun
MYTOOLS_DRIVE_USERNAME=replace-with-mytools-username
MYTOOLS_DB_HOST=127.0.0.1
MYTOOLS_DB_PORT=3306
MYTOOLS_DB_USER=root
MYTOOLS_DB_PASSWORD=replace-with-database-password
